<p style="color: green"><%= notice %></p>

<h1>  予約一覧</h1>

<div id="reservations">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
    <p>
      <%= link_to "詳細を確認する", reservation %>
    </p>
  <% end %>
</div>

<%= link_to "新規予約をする", new_reservation_path %>
